body{
	margin-top:5%;
}
img{
	width:100%;
}

.William_Moriarty_image{
    max-width: 100%; 

}

.jumbotron {
    background-color: #d1d2d39c;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom: 20px;

}

.col-md-6 {
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    margin-bottom: 20px;

}

.col-md-3 {
    background-color:  #d1d2d3d1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px; /* Adjust the value to increase or decrease space between columns */
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 10px;

}

.col-md-4 {
    background-color:  #d1d2d3d1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px; /* Adjust the value to increase or decrease space between columns */
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 10px;

}
.row {
    display: flex;
}

.col-md-4 > p {
    flex-grow: 1;
}


.thumbnail {
    border: none;
    margin-bottom: 20px;
    margin-top: 10px;
}

.thumbnail img {
    max-width: 100%;
    height: auto;
}

#parrafo-1 {
    margin-top: 10px;
}

#column1 {
    background-color: rgba(173, 132, 208, 0.392);
}

#column2 {
    background-color: rgba(179, 239, 179, 0.436);
}

#column3 {
    background-color: rgba(231, 160, 177, 0.556);
}
.container {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 10px;
}

h1 {
    color: #007bff;
}

h2 {
    color: #6c757d;
}

h3 {
    margin-top: 100px;
}

blockquote {
    background-color: #f0f1f3;
    padding: 10px;
    border-left: 5px solid #007bff;
    margin-top: 20px;
}

blockquote{
    font-style: italic;
}

blockquote p {
    font-style: italic;
}

blockquote footer {
    text-align: right;
    font-size: 0.9em;
}

button {
    background-color: #cfe2ff;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

}

button:hover {
    background-color: #93bce9;
}
